<% content_for :title, t('.title') %>

<div class='container'>
  <div class='row'>
    <div class='form-box col-md-10 col-lg-10 mx-auto my-5 px-5'>
      <div class='page-title-name text-center my-5'>
        <h1><%= t('.title') %></h1>
      </div>
      <%= form_with(model: @profile)  do |f| %>
        <%= render 'shared/error_message', object: f.object %>
        <div class='form-group row my-4'>
          <div class='col-3 text-center'>
            <%= f.label :avatar, class: 'col-form-label' %>
          </div>
          <div class='col-9'>
            <%= f.file_field :avatar, class: 'form-control', accept: 'image/*' %>
          </div>
        </div>

        <div class='form-group row my-4'>
          <div class='col-3 text-center'>
            <%= f.label :sns_account, class: 'col-form-label' %>
          </div>
          <div class='col-9'>
            <%= f.text_field :sns_account, class: 'form-control' %>
          </div>
        </div>

        <div class='form-group row my-4'>
          <div class='col-3 text-center'>
            <%= f.label :display_tag_type, class: 'col-form-label' %>
          </div>
          <div class='col-9' style="display: flex; align-items: center;">
            <%= f.radio_button :display_tag_type, :all_tag, checked: true %>
            <%= f.label :display_tag_type_all_tag, t('enums.profile.display_tag_type.all_tag'), class: 'me-2' %>
            <%= f.radio_button :display_tag_type, :not_ng %>
            <%= f.label :display_tag_type_not_ng, t('enums.profile.display_tag_type.not_ng') %>
            <%= f.radio_button :display_tag_type, :only_favorite %>
            <%= f.label :display_tag_type_only_favorite, t('enums.profile.display_tag_type.only_favorite') %>
          </div>
        </div>

        <div class='form-group row my-4'>
          <div class='col-3 text-center'>
            <%= f.label :is_display_dislike_tag, class: 'col-form-label' %>
          </div>
          <div class='col-9' style="display: flex; align-items: center;">
            <%= f.radio_button :is_display_dislike_tag, true %>
            <%= f.label :is_display_dislike_tag, '公開する', class: 'me-2' %>
            <%= f.radio_button :is_display_dislike_tag, false%>
            <%= f.label :is_display_dislike_tag, '公開しない', class: 'me-2' %>
          </div>
        </div>

        <div class="text-center">
          <%= f.submit class: 'btn my-3 mx-auto form-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>