<% content_for :title, t('.title', user_name: @profile.user.name) %>

<div class='container'>
  <div class='col-md-10 col-lg-10 mx-auto mt-5 px-5'>
    <div class='row mb-5'>
      <div class='col-md-3'>
        <div class='d-flex justify-content-center'>
          <%= image_tag @profile.user.profile.avatar.url, class:'rounded-circle avatar-image' %>
        </div>
        <% if @profile.user == current_user %>
          <div class="mt-2">
            <div class='d-flex justify-content-center'>
              <%= link_to 'プロフィールを編集', edit_profile_path(@profile), class: 'btn form-btn' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class='col-md-9'>
        <div class='row mb-4 mt-5'>
          <div class='col-3'>
            <%= User.human_attribute_name(:name) %>：
          </div>
          <div class='content-box col-9'>
            <%= @profile.user.name %>
          </div>
        </div>
        <div class='row mb-4'>
          <div class='col-3'>
            <%= Profile.human_attribute_name(:sns_account) %>：
          </div>
          <div class='content-box col-9'>
            <%= @profile.sns_account %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'shared/content_title', this_title: 'マイベスト投稿' %>
    <% if @post.present? %>
      <%= render 'posts/post', post: @post %>
    <% else %>
      <div class='no-data text-center mb-3'>未登録</div>
    <% end %>
    <% if @profile.user == current_user %>
      <div class="my-2">
        <div class='d-flex justify-content-center'>
          <% if current_user.posts.present? %>
            <%= link_to 'マイベスト投稿を変更する', my_page_users_path, class: 'btn form-btn' %>
          <% else %>
            <%= link_to 'グッズを投稿する', new_post_path, class: 'btn form-btn' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
