<% content_for :title, t('.title', user_name: @profile.user.name) %>
<% set_meta_tags og:{image: image_url(@profile.user.profile.avatar.url)}, twitter:{image: image_url(@profile.user.profile.avatar.url)} %>

<div class='container'>
  <div class='col-lg-10 mx-auto mt-5 px-5'>
    <div class='page-title-name text-center mt-5'>
        <h1><%= t('.title', user_name: @profile.user.name) %></h1>
    </div>
    <div class='text-center'>
      <div class='me-3 share-btn modal-open-btn'>
        <i class='bi bi-box-arrow-up reaction-stamp defo mt-1'></i>
        <span class='reaction-stamp'>シェア</span>
      </div>
      <div class='ms-3 no-data' id='share-massage'>
      </div>
    </div>
    <div class='row mb-5 d-flex align-items-center'>
      <div class='col-lg-3'>
        <div class='d-flex justify-content-center'>
          <%= image_tag @profile.user.profile.avatar.url, class:'rounded-circle avatar-image' %>
        </div>
        <div class='mt-2'>
          <div class='d-flex justify-content-center'>
            <% if current_user.present? %>
              <% if current_user_item?(@profile) %>
                <%= link_to 'プロフィールを編集', edit_profile_path(@profile), class: 'btn form-btn' %>
              <% elsif current_user.following?(@profile.user) %>
                <%= link_to 'フォロー解除', user_follows_path(@profile.user), data: { turbo_method: :delete}, class: 'btn form-btn btn-del' %>
              <% else %>
                <%= link_to 'フォローする', user_follows_path(@profile.user), data: { turbo_method: :post }, class: 'btn form-btn' %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class='mt-2 text-center'>
          <%= link_to Profile.human_attribute_name(:follower), follows_user_path(@profile.user_id) %>：
          <%= @following_users_count %>
          <span>人</span>
        </div>
        <div class='mt-2 text-center'>
          <%= link_to Profile.human_attribute_name(:followerd), followers_user_path(@profile.user_id) %>：
          <%= @follower_users_count %>
          <span>人</span>
        </div>
      </div>
      <div class='col-lg-9'>
        <div class='row mb-4'>
          <div class='col-3 text-end'>
            <%= User.human_attribute_name(:name) %>：
          </div>
          <div class='content-border col-9'>
            <%= @profile.user.name %>
          </div>
        </div>
        <div class='row mb-4'>
          <div class='col-3 text-end'>
            <%= Profile.human_attribute_name(:sns_account) %>：
          </div>
          <div class='content-border col-9'>
            <% if @profile.sns_account.present? %>
              <%= @profile.sns_account %>
            <% else %>
              <span class='no-data'>未登録</span>
            <% end %>
          </div>
        </div>
        <div class='row mb-4'>
          <div class='col-3 text-end'>表示設定：</div>
          <div class='content-border col-9'>
            <%= @profile.display_tag_type_i18n %>の投稿を表示する
          </div>
        </div>
        <div class='row mb-4 d-flex align-items-center'>
          <div class='col-3 text-end'>
            <%= Profile.human_attribute_name(:favorite_tag) %>：
          </div>
          <div class='content-border pb-1 col-9'>
            <% if @profile.choosy_tags.favorite_tag.present? %>
              <% @profile.choosy_tags.favorite_tag.each do |tag| %>
                <span class='tag'><%= tag.tag.name %></span>
              <% end %>
            <% else %>
              <span class='no-data'>未登録</span>
            <% end %>
          </div>
        </div>
        <div class='row d-flex align-items-center'>
          <div class='col-3 text-end'>
            <%= Profile.human_attribute_name(:dislike_tag) %>：
          </div>
          <div class='content-border pb-1 col-9'>
            <% if @profile.is_display_dislike_tag == false %>
              <span class='no-data'>非公開</span>
            <% elsif @profile.choosy_tags.dislike_tag.present? %>
              <% @profile.choosy_tags.dislike_tag.each do |tag| %>
                <span class='tag' style='background-color: #7B2323;'><%= tag.tag.name %></span>
              <% end %>
            <% else %>
              <span class='no-data'>未登録</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'shared/content_title', this_title: 'マイベスト投稿' %>
    <% if @post.present? %>
      <%= render 'posts/post', post: @post %>
    <% else %>
      <div class='no-data text-center mb-3'>未登録</div>
    <% end %>
    <% if current_user_item?(@profile) %>
      <div class='my-2'>
        <div class='d-flex justify-content-center'>
          <% if current_user.posts.present? %>
            <%= link_to 'マイベスト投稿を変更する', my_page_users_path, class: 'btn form-btn' %>
          <% else %>
            <%= link_to 'グッズを投稿する', new_post_path, class: 'btn form-btn' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/share_modal', url_content: "#{@profile.user.name}のプロフィール%0a" %>
