<div id="comment_<%= comment.id %>">
  <div class='row mx-2 my-3'>
    <div class='col-sm-1 text-center'>
      <%= link_to profile_path(comment.user.profile), class:'nav-link' do %>
        <%= image_tag(comment.user.profile.avatar.url, class:'rounded-circle', size:'45x45', style:'border: 1px solid #66589c;') %>
      <% end %>
    </div>
    <div class='col-sm-11'>
      <div class='row'>
        <div class='col'>
          <%= link_to profile_path(comment.user.profile), class:'nav-link' do %>
            <%= comment.user.name %>
          <% end %>
        </div>
        <div class='col text-end no-data'>
          <%= I18n.l(comment.created_at, format: :short) %>
        </div>
      </div>
      <div class='comment-box mx-auto'>
        <%=safe_join(comment.body.split("\n"),tag(:br))%>
      </div>
      <div style='display: flex; justify-content: end;'>
        <%= link_to '編集', edit_comment_path(comment), class:'me-5' %>
        <%= link_to '削除', comment_path(comment), data: { turbo_method: :delete }, class:'me-2' %>
      </div>
    </div>
  </div>
</div>
