<div class='form-box mb-3'>
  <div class='post-type-tag px-2'>
    <div class='row'>
      <div class='col-md'>
        <%= post.post_type_i18n %>
      </div>
      <div class='col-md d-flex justify-content-end'>
        created at <%= I18n.l(post.created_at, format: :only_date) %>
      </div>
    </div>
  </div>
  <div class='row m-1'>
    <div class='col-md-3'>
      <%= image_tag post.photo.url, class:'thumb' %>
    </div>
    <div class='col-md-9'>
      <div class='mt-1 mb-4'>
        <%= post.title %>
      </div>
      <div class='mt-2 mb-3'>
        <span><%= Post.human_attribute_name(:place) %>：</span>
        <% if post.places.present? %>
          <% post.places.each do |place| %>
            <%= link_to place.name, { controller: "posts", action: "index", q: { places_name_eq: place.name }}, class: 'tag tag-place', 'data-turbo' => 'false' %>
          <% end %>
        <% else %>
          <span class='no-data'>購入場所未登録</span>
        <% end %>
      </div>
      <div class='my-2'>
        <span><%= Post.human_attribute_name(:merchandise_tag) %>：</span>
        <% if post.tags.merchandise_tag.present? %>
          <% post.tags.merchandise_tag.each do |tag| %>
            <%= link_to tag.name, { controller: "posts", action: "index", q: { tags_name_eq: tag.name }}, class: 'tag', 'data-turbo' => 'false' %>
          <% end %>
        <% else %>
          <span class='no-data'>グッズカテゴリ未登録</span>
        <% end %>
      </div>
      <div class='mt-2 mb-3'>
        <span><%= Post.human_attribute_name(:content_tag) %>：</span>
        <% if post.tags.content_tag.present? %>
          <% post.tags.content_tag.each do |tag| %>
            <%= link_to tag.name, { controller: "posts", action: "index", q: { tags_name_eq: tag.name }}, class: 'tag', 'data-turbo' => 'false' %>
          <% end %>
        <% else %>
          <span class='no-data'>コンテンツカテゴリ未登録</span>
        <% end %>
      </div>
      <div>
        <span><%= Post.human_attribute_name(:post_stamp) %>　：</span>
        <% if post.post_stamps.where(user_id: post.user).present? %>
          <% post.post_stamps.where(user_id: post.user).each do |stamp| %>
            <%= link_to({ controller: "posts", action: "index", q: { author_stamped_posts: stamp.stamp_before_type_cast }}, class: 'tag tag-stamp me-1', 'data-turbo' => 'false') do %>
              <%= stamp.stamp_i18n %>
              <i class="bi <%= stamp.icon_name %>"></i>
            <% end %>
          <% end %>
        <% else %>
          <span class='no-data'>推しポイント未登録</span>
        <% end %>
      </div>
      <div class='get-reaction'>
        <div style='display: flex; justify-content: start;'>
          <div class='me-4'>
            <i class='bi bi-hand-thumbs-up-fill'></i>
            <span class='ms-2'><%= post.post_stamps.where(stamp: 'nice').count %></span>
          </div>
          <% @stamps.each do |stamp, icon| %>
            <div class='me-4'>
              <i class="bi <%= icon %>"></i>
              <span class='ms-2'><%= post.post_stamps.where(stamp: stamp).count %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class='row m-2'>
    <div class='col-md-5'>
      <%= link_to "詳細を見る", post, 'data-turbo' => 'false' %>
    </div>
    <div class='col-md-2'>
      <div class='d-flex justify-content-center'>
        <% if post.my_lists.present? %>
          <%= button_to 'マイリスト解除', my_list_path(post), method: :delete, class: 'btn form-btn mybest-btn btn-del', 'data-turbo' => 'false' %>
        <% end %>
      </div>
    </div>
    <div class='col-md-5 d-flex justify-content-end post-create-at'>
      <%= link_to profile_path(post.user.profile), class:'nav-link', 'data-turbo' => 'false' do %>
        <div class='row'>
          <div class='col-11 text-end my-auto'>
            <%= t('posts.user_link_sentense') %><%= post.user.name %>
          </div>
          <div class='col-1' style='padding-left: 0;'>
            <%= image_tag(post.user.profile.avatar.url, class:'rounded-circle', size:'30x30', style:'border: 1px solid #66589c;') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
