<% content_for :title, t('.title', name: current_user.name) %>

<div class='container'>
  <div class='col-lg-10 mx-auto mt-5 px-5'>
    <div class='page-title-name text-center my-5'>
      <h1><%= t('.title', name: current_user.name) %></h1>
    </div>
    <div class='row mb-5 d-flex align-items-center'>
      <div class='col-md-3'>
        <div class='d-flex justify-content-center'>
          <%= image_tag current_user.profile.avatar.url, class:'rounded-circle avatar-image' %>
        </div>
        <div class='mt-2'>
          <div class='d-flex justify-content-center'>
            <%= link_to 'マイプロフィール', profile_path(current_user.profile), class: 'btn form-btn' %>
          </div>
        </div>
        <div class='mt-2 text-center'>
          <%= link_to Profile.human_attribute_name(:follower), follows_user_path(current_user) %>：
          <%= current_user.following_user.count %>
          <span>人</span>
        </div>
        <div class='mt-2 text-center'>
          <%= link_to Profile.human_attribute_name(:followerd), followers_user_path(current_user) %>：
          <%= current_user.follower_user.count %>
          <span>人</span>
        </div>
      </div>
      <div class='col-md-9'>
        <div class='mb-4 text-center'>
          <%= render 'shared/content_title', this_title: '累計投稿数' %>
          <div class='content-title'>
            <%= current_user.total_post %>件
          </div>
        </div>
        <div class='mb-4 text-center'>
          <%= render 'shared/content_title', this_title: 'これまで貰ったリアクション' %>
          <div class='mt-3 get-reaction'>
            <div style='display: flex; justify-content: center;'>
              <div class='mx-2'>
                <i class='bi bi-hand-thumbs-up-fill'></i>
                <span class='ms-2'><%= @get_stamps.where(stamp: 'nice').count %></span>
              </div>
              <% @stamps.each do |stamp, icon| %>
                <div class='mx-2'>
                  <i class="bi <%= icon %>"></i>
                  <span class='ms-2'><%= @get_stamps.where(stamp: stamp).count %></span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class='text-center'>
          <%= render 'shared/content_title', this_title: '推しに捧げた応援' %>
          <div class='content-title'>
            <%= number_to_currency(current_user.total_purchase_cost) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-lg-12 my-list'>
    <%= turbo_frame_tag 'change-mypage-list' do %>
      <%= render 'user_post_list' %>
    <% end %>
  </div>
</div>
