<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light'>
    <div class='container'>
      <%= link_to root_path, class: 'navbar-brand logo col-md-4', style:'display: flex; flex-direction: row;', data: { turbo_stream: true } do %>
        <div class='d-flex align-items-center me-3'>
          <%= image_tag('moon-icon-w.png', size:'40x40', class:'logo-img') %>
        </div>
        推しグッズギャラリー
      <% end %>
      <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav ms-auto main-nav align-items-center'>
          <li class='nav-item'>
            <%= link_to '新規投稿', new_post_path, class: 'nav-link btn btn-outline-secondary' %>
          </li>
          <li class='nav-item'>
            <%= link_to '投稿一覧', posts_path, class: 'nav-link btn btn-outline-secondary' %>
          </li>
          <li class='nav-item'>
            <%= link_to 'ランキング', '#', class: 'nav-link btn btn-outline-secondary' %>
          </li>
          <li class='nav-item dropdown dropdown-slider dropdown-center'>
            <%= link_to image_tag(current_user.profile.avatar.url, class:'rounded-circle', size:'40x40', style:'background-color: #ffffff;'), profile_path(current_user.profile), class:'nav-link myicon', 'data-bs-toggle'=>'dropdown', 'aria-haspopup'=>'true', 'aria-expanded'=>'false' %>
            <div class='dropdown-menu dropdown-menu-end'>
              <span class='dropdown-item disabled' style='color: #000000;'><%= current_user.name %></span>
              <%= link_to 'マイページ', my_page_users_path, class:'dropdown-item' %>
              <%= link_to 'マイプロフィール', profile_path(current_user.profile), class:'dropdown-item' %>
              <div class='dropdown-divider'></div>
              <%= link_to 'ログアウト', logout_path, class:'dropdown-item', data: { turbo_method: :delete }  %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
