<%= @contact.name %> 様 から問い合わせがありました。<br>
【ログインデータ】：<%= @contact.login_user if @contact.login_user? %><br>
【Mail】：<%= @contact.email %><br>
【用件】：<%= @contact.subject_i18n %><br>
【お問い合わせ内容】<br>
<span style='white-space: pre-wrap;'><%= @contact.message %></span>