<div class='form-box mb-3'>
  <div class='post-type-tag px-2'>
    <div class='row'>
      <div class='col-md'>
        <%= post.post_type_i18n %>
      </div>
      <div class='col-md d-flex justify-content-end'>
        created at <%= I18n.l(post.created_at, format: :only_date) %>
      </div>
    </div>
  </div>
  <div class='row m-1'>
    <div class='col-md-4'>
      <%= link_to image_tag(post.photo.url, class:'thumb'), post %>
    </div>
    <div class='col-md-8'>
      <div class='mt-1'>
        <%= post.title %>
      </div>
      <div class='my-2'>
        <% if post.tags.merchandise_tag.present? %>
          <% post.tags.merchandise_tag.each do |tag| %>
            <%= link_to tag.name, { controller: "posts", action: "index", q: { tags_name_eq: tag.name }}, class: 'tag' %>
          <% end %>
        <% else %>
          <div class='content-box no-data'>グッズカテゴリ未登録</div>
        <% end %>
      </div>
      <div class='mb-2'>
        <% if post.tags.content_tag.present? %>
          <% post.tags.content_tag.each do |tag| %>
            <%= link_to tag.name, { controller: "posts", action: "index", q: { tags_name_eq: tag.name }}, class: 'tag' %>
          <% end %>
        <% else %>
          <div class='content-box no-data'>コンテンツカテゴリ未登録</div>
        <% end %>
      </div>
      <div class='mb-1'>
        <% if post.post_stamps.where(user_id: post.user).present? %>
          <% post.post_stamps.where(user_id: post.user).each do |stamp| %>
            <%= link_to stamp.stamp_i18n, { controller: "posts", action: "index", q: { author_stamped_posts: stamp.stamp_before_type_cast }}, class: 'tag tag-stamp' %>
          <% end %>
        <% else %>
          <div class='content-box no-data'>推しポイント未登録</div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='row m-2'>
    <div class='col-md-6'>
      <%= link_to "詳細を見る", post %>
    </div>
    <div class='col-md-6'>
      <%= link_to profile_path(post.user.profile), class:'nav-link' do %>
        <div class='row'>
          <div class='col-11 text-end my-auto'>
            <%= t('posts.user_link_sentense') %><%= post.user.name %>
          </div>
          <div class='col-1' style='padding-left: 0;'>
            <%= image_tag(post.user.profile.avatar.url, class:'rounded-circle', size:'30x30', style:'border: 1px solid #66589c;') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
