<div class='form-box mb-3'>
  <div class='post-type-tag ps-2'>
    <%= post.post_type_i18n %>
  </div>
  <div class='row m-1'>
    <div class='col-md-4'>
      <%= image_tag post.photo.url, class:'thumb' %>
    </div>
    <div class='col-md-8'>
      <div class='mb-1'>
        <%= post.title %>
      </div>
      <div class='content-box mb-1'>
        <% if post.tags.merchandise_tag.present? %>
          <% post.tags.merchandise_tag.each do |tag| %>
            <%= tag.name %>
          <% end %>
        <% else %>
          <div class='no-data'>グッズカテゴリ</div>
        <% end %>
      </div>
      <div class='content-box mb-1'>
        <% if post.tags.content_tag.present? %>
          <% post.tags.content_tag.each do |tag| %>
            <%= tag.name %>
          <% end %>
        <% else %>
          <div class='no-data'>コンテンツカテゴリ</div>
        <% end %>
      </div>
      <div class='content-box mb-1'>
        <% if post.post_stamps.where(user_id: post.user_id).present? %>
          <% post.post_stamps.where(user_id: post.user_id).each do |stamp| %>
            <%= stamp.stamp_i18n %>
          <% end %>
        <% else %>
          <div class='no-data'>推しポイント</div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='row m-2'>
    <div class='col-md'>
      <%= link_to "詳細を見る", post %>
    </div>
    <div class='col-md d-flex justify-content-end post-create-at'>
      <%= I18n.l(post.created_at, format: :only_date) %>
    </div>
  </div>
</div>
