<%= search_form_for @q do |f| %>
  <div class='row mb-3'>
    <div class='col-md-11'>
      <%= f.search_field :title_or_body_or_user_name_or_places_name_or_tags_name_cont, class: 'form-control', placeholder: '検索ワード' %>
    </div>
    <div class='col-md-1' style='display: flex; align-items: center;'>
      <%= f.submit '検索', class: 'btn form-btn search-btn' %>
    </div>
  </div>
  <div class='mb-3'>
    <%= label_tag 'post_type_eq_all' do %>
      <%= f.radio_button :post_type_eq, '', checked: true, id: 'post_type_eq_all' %>
      <%= t("enums.post.post_type.all") %>
    <% end %>
    <%= label_tag 'post_type_eq_merchandise' do %>
      <%= f.radio_button :post_type_eq, 0, id: 'post_type_eq_merchandise' %>
      <%= t("enums.post.post_type.merchandise") %>
    <% end %>
    <%= label_tag 'post_type_eq_showroom' do %>
      <%= f.radio_button :post_type_eq, 1, id: 'post_type_eq_showroom' %>
      <%= t("enums.post.post_type.showroom") %>
    <% end %>
  </div>
<% end %>