<% content_for :title, t('.title', post_title: @post.title) %>

<div class='container'>
  <div class='container-box'>
    <div class='container-label'>
      <div class='row'>
        <div class='col ms-2'>
          <%= @post.post_type_i18n %>／<%= @post.purchase_status_i18n %>
        </div>
        <div class='col me-2 d-flex justify-content-end'>
          created at <%= I18n.l(@post.created_at, format: :only_date) %>
        </div>
      </div>
    </div>

    <div class='row m-2'>
      <div class='col-6'>
        <%= image_tag(@post.photo.url, size:'170x170', style:'background-color: #ffffff;') %>
      </div>
      <div class='col-6'>
        <%= @post.title %>
        <div class='content-box body-box'>
          <%= @post.body %>
        </div>
      </div>
    </div>

    <div class='row m-2'>
      <div class='col-6'>
        <div class='mb-1'>
          <% if @post.bought_at? %>
            <% if @post.purchased? %>
              <%= Post.human_attribute_name(:bought_at) %>：<%= I18n.l(@post.bought_at) %>
            <% else %>
              購入予定日：<%= I18n.l(@post.bought_at) %>
            <% end %>
          <% else %>
            購入予定日：未定
          <% end %>
        </div>
        <div class='mb-1'>
          <%= Post.human_attribute_name(:place) %>：
          <% @post_places.each do |place| %>
            <%= place.name %>
          <% end %>
        </div>
        <div class='mb-1'>
          <%= Post.human_attribute_name(:purchase_cost) %>：<%= @post.purchase_cost %>円
        </div>
      </div>
      <div class='col-6'>
        <div class='content-box mb-1'>
          <% if @post_merchandise_tags.present? %>
            <% @post_merchandise_tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          <% else %>
            <div class='no-data'>グッズカテゴリ未登録</div>
          <% end %>
        </div>
        <div class='content-box mb-1'>
          <% if @post_content_tags.present? %>
            <% @post_content_tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          <% else %>
            <div class='no-data'>コンテンツカテゴリ未登録</div>
          <% end %>
        </div>
        <div class='content-box'>
          <% if @oshi_point_stamps.present? %>
            <% @oshi_point_stamps.each do |stamp| %>
              <%= stamp.stamp_i18n %>
            <% end %>
          <% else %>
            <div class='no-data'>推しポイント未登録</div>
          <% end %>
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 mb-3">
      <div class='col me-5 d-flex justify-content-end'>
        <%= link_to '編集する', edit_post_path(@post), class: 'btn form-btn' %>
      </div>
      <div class='col ms-5'>
        <%= button_to '削除する', @post, method: :delete, class: 'btn form-btn btn-del' %>
      </div>
    </div>
  </div>
  <div class='link-text text-center mt-3'>
    <%= link_to '投稿一覧に戻る', posts_path %>
  </div>
</div>
