<% content_for :title, t('.title', post_title: @post.title) %>

<div class='container'>
  <div class='container-box'>
    <div class='container-label'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='ms-2'>
            <%= @post.post_type_i18n %>／<%= @post.purchase_status_i18n %>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='me-2 d-flex justify-content-end'>
            created at <%= I18n.l(@post.created_at, format: :only_date) %>
          </div>
        </div>
      </div>
    </div>

    <div class='row m-2'>
      <div class='col-md-6'>
        <%= image_tag @post.photo.url, class:'thumb' %>
      </div>
      <div class='col-md-6'>
        <%= @post.title %>
        <div class='content-box body-box'>
          <%=safe_join(@post.body.split("\n"),tag(:br))%>
        </div>
      </div>
    </div>

    <div class='row m-2'>
      <div class='col-md-6'>
        <div class='mb-1'>
          <% if @post.bought_at? %>
            <% if @post.purchased? %>
              <%= Post.human_attribute_name(:bought_at) %>：<%= I18n.l(@post.bought_at) %>
            <% else %>
              購入予定日：<%= I18n.l(@post.bought_at) %>
            <% end %>
          <% else %>
            購入予定日：
          <% end %>
        </div>
        <div class='mb-1'>
          <%= Post.human_attribute_name(:place) %>：
          <% @post.places.each do |place| %>
            <%= place.name %>
          <% end %>
        </div>
        <div class='mb-1'>
            <%= Post.human_attribute_name(:purchase_cost) %>：<%= @post.purchase_cost %><% if @post.purchase_cost.present? %>円<% end %>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='content-box mb-1'>
          <% if @post_merchandise_tag.present? %>
            <% @post_merchandise_tag.each do |tag| %>
              <%= tag.name %>
            <% end %>
          <% else %>
            <div class='no-data'>グッズカテゴリ未登録</div>
          <% end %>
        </div>
        <div class='content-box mb-1'>
          <% if @post_cotent_tag.present? %>
            <% @post_cotent_tag.each do |tag| %>
              <%= tag.name %>
            <% end %>
          <% else %>
            <div class='no-data'>コンテンツカテゴリ未登録</div>
          <% end %>
        </div>
        <div class='content-box'>
          <% if @oshi_point_stamps.present? %>
            <% @oshi_point_stamps.each do |stamp| %>
              <%= stamp.stamp_i18n %>
            <% end %>
          <% else %>
            <div class='no-data'>推しポイント未登録</div>
          <% end %>
        </div>
      </div>
    </div>

    <div class='create-user mb-2'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='ms-2 mt-1'>
            いいね機能（comming soon）
          </div>
        </div>
        <div class='col-md-6'>
          <%= link_to profile_path(@post.user.profile), class:'nav-link' do %>
            <div class='row'>
              <div class='col-10 text-end my-auto' style='padding-right: 0;'>
                <%= t('posts.user_link_sentense') %><%= @post.user.name %>
              </div>
              <div class='col-2'>
                <%= image_tag(@post.user.profile.avatar.url, class:'rounded-circle', size:'30x30', style:'border: 1px solid #66589c;') %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <% if @post.user_id == current_user.id %>
      <div class="row mt-5 mb-3">
        <div class='col me-3 d-flex justify-content-end'>
          <%= link_to '編集する', edit_post_path(@post), class: 'btn form-btn' %>
        </div>
        <div class='col ms-3'>
          <%= button_to '削除する', @post, method: :delete, class: 'btn form-btn btn-del' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class='link-text text-center my-3'>
    <%= link_to '投稿一覧に戻る', posts_path %>
  </div>
</div>
