<% content_for :title, t('.title', post_title: @post.title) %>

<div class='container'>
  <div class='container-box'>
    <div class='container-label'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='ms-2'>
            <%= @post.post_type_i18n %>／<%= @post.purchase_status_i18n %>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='me-2 d-flex justify-content-end'>
            created at <%= I18n.l(@post.created_at, format: :only_date) %>
          </div>
        </div>
      </div>
    </div>

    <div class='row m-2'>
      <div class='col-md-6'>
        <%= image_tag @post.photo.url, class:'thumb' %>
      </div>
      <div class='col-md-6'>
        <%= @post.title %>
        <div class='content-box body-box'>
          <%=safe_join(@post.body.split("\n"),tag(:br))%>
        </div>
      </div>
    </div>

    <div class='row m-2'>
      <div class='col-md-6'>
        <div>
          <% if @post.bought_at? %>
            <% if @post.purchased? %>
              <%= Post.human_attribute_name(:bought_at) %>：<%= I18n.l(@post.bought_at) %>
            <% else %>
              購入予定日：<%= I18n.l(@post.bought_at) %>
            <% end %>
          <% else %>
            購入予定日：
          <% end %>
        </div>
        <div class='my-2'>
          <%= Post.human_attribute_name(:place) %>：
          <% @post.places.each do |place| %>
            <%= link_to place.name, { controller: "posts", action: "index", q: { places_name_eq: place.name }}, class: 'tag tag-place' %>
          <% end %>
        </div>
        <div class='mb-1'>
            <%= Post.human_attribute_name(:purchase_cost) %>：<%= @post.purchase_cost %><% if @post.purchase_cost.present? %>円<% end %>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='mb-2'>
          <span><%= Post.human_attribute_name(:merchandise_tag) %>：</span>
          <% if @post_merchandise_tag.present? %>
            <% @post_merchandise_tag.each do |tag| %>
              <%= link_to tag.name, { controller: "posts", action: "index", q: { tags_name_eq: tag.name }}, class: 'tag' %>
            <% end %>
          <% else %>
            <span class='no-data'>グッズカテゴリ未登録</span>
          <% end %>
        </div>
        <div class='mb-3'>
          <span><%= Post.human_attribute_name(:content_tag) %>：</span>
          <% if @post_cotent_tag.present? %>
            <% @post_cotent_tag.each do |tag| %>
              <%= link_to tag.name, { controller: "posts", action: "index", q: { tags_name_eq: tag.name }}, class: 'tag' %>
            <% end %>
          <% else %>
            <span class='no-data'>コンテンツカテゴリ未登録</span>
          <% end %>
        </div>
        <div>
          <span><%= Post.human_attribute_name(:post_stamp) %>　：</span>
          <% if @oshi_point_stamps.present? %>
            <% @oshi_point_stamps.each do |stamp| %>
              <%= link_to({ controller: "posts", action: "index", q: { author_stamped_posts: stamp.stamp_before_type_cast }}, class: 'tag tag-stamp me-1') do %>
                <%= stamp.stamp_i18n %>
                <i class="bi <%= stamp.icon_name %>"></i>
              <% end %>
            <% end %>
          <% else %>
            <span class='no-data'>推しポイント未登録<span>
          <% end %>
        </div>
      </div>
    </div>

    <div class='create-user mb-2'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='ms-3' style='display: flex; justify-content: start;'>
            <% if @post.my_lists.find_by(user_id: current_user.id).present? %>
              <%= button_to 'マイリスト解除', my_list_path(@post), method: :delete, class: 'btn form-btn mybest-btn btn-del' %>
            <% else %>
              <%= button_to 'マイリスト登録', registration_my_list_path(@post), method: :post, class: 'btn form-btn mybest-btn' %>
            <% end %>
            <div class='ms-3'>
              <% if @post.user != current_user %>
                <% if @post.post_stamps.find_by(user_id: current_user.id, stamp: 'nice') %>
                  <%= render 'reaction_stamps/nice_done', post: @post %>
                <% else %>
                  <%= render 'reaction_stamps/nice_yet', post: @post %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class='col-md-6'>
          <%= link_to profile_path(@post.user.profile), class:'nav-link' do %>
            <div class='row'>
              <div class='col-10 text-end my-auto' style='padding-right: 0;'>
                <%= t('posts.user_link_sentense') %><%= @post.user.name %>
              </div>
              <div class='col-2'>
                <%= image_tag(@post.user.profile.avatar.url, class:'rounded-circle', size:'30x30', style:'border: 1px solid #66589c;') %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <% if logged_in? && @post.user_id == current_user.id %>
      <div class="row mt-5 mb-3">
        <div class='col me-3 d-flex justify-content-end'>
          <%= link_to '編集する', edit_post_path(@post), class: 'btn form-btn' %>
        </div>
        <div class='col ms-3'>
          <%= button_to '削除する', @post, method: :delete, class: 'btn form-btn btn-del' %>
        </div>
      </div>
    <% end %>
  </div>
  <% if @post.user != current_user %>
    <div class='container-box py-3 px-2'>
      <% @stamps.each do |stamp, icon| %>
        <% if @post.post_stamps.find_by(user_id: current_user.id, stamp: stamp) %>
          <%= render "reaction_stamps/done", post: @post, stamp: stamp, icon: icon %>
        <% else %>
          <%= render "reaction_stamps/yet", post: @post, stamp: stamp, icon: icon %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class='link-text text-center my-3'>
    <%= link_to '投稿一覧に戻る', posts_path %>
  </div>
</div>
